.web-title {
	text-align:center;
	font-size: 3em;
}

.experience{
	scroll-margin-top:80px;
}

.experience-heading{
	text-align:center;
	font-size: 1.3em;
}

@media (max-width: 1000px){
	.experience-box{
		display:grid;
		grid-template-columns: 1fr;


		justify-content: space-evenly;
		text-align: center;
		column-gap: 5em;
		row-gap: 14em;
		margin: 0 auto;
		max-width: 1000px;
	}
}

@media (min-width:1001px) and (max-width: 1400px){
	.experience-box{
		display:grid;
		grid-template-columns: 1fr 1fr;
		justify-content: space-evenly;
		text-align: center;
		column-gap: 5em;
		row-gap: 5em;
		margin: 0 auto;
		max-width: 1000px;
	}
}

@media (min-width: 1401px){
	.experience-box{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: space-evenly;
		text-align: center;
		column-gap: 5em;
		row-gap: 5em;
		margin: 0 auto;
	}
}


.experience-box img{
		width: 100%;
		height: 220px; /* fixed display height - adjust as needed */
		object-fit: cover; /* crop/scale to fill the box uniformly */
		display: block;
		border-radius: 1.25rem;
}

.experience-box img:hover{
	transform: scale(1.01);
	transition: transform 180ms ease-in-out;
}

.fa-wrench{
	color:black;
}