
	.intro{
		display:flex;
		justify-content: center;
		align-items: center;
	}

	.photo-description {
		display:flex;
		flex-direction:row;
		justify-content: center;
		/*flex-wrap: wrap; include this but when the size of the media decreases*/

		column-gap: 4em;
		margin-bottom: 3em;

		max-width: 1250px;
		border-radius: 1em;
		padding:2em 4em 2em 4em;
	}


@media(max-width:940px)
{
	.photo-description {
		display:flex;
		flex-direction:row;
		justify-content: center;
		align-items:center;
		flex-wrap: wrap;

		/*flex-wrap: wrap; include this but when the size of the media decreases*/

		column-gap: 2em;
		row-gap: 2em;
		margin-bottom: 3em;

		padding:10px;
	}	
}
.bio-description{
		display:flex;
		flex-direction: column;


		text-align:start;
		min-width: 360px;
		max-width:750px;
		border-radius: 1em;
		padding-left: 1em;
		padding-right: 1em;
		}

.photo-box{
	display:flex;
	align-items: center;
  max-width:300px;
}

.profile-photo{
	border: 2px solid black;
	min-width:250px;
	max-width:100%;
	height:auto;
	flex:1;
	border-radius: 30px;
}

.profile-photo:hover{
  border-color: #F5F5F7;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}